#!/bin/bash

ip_local_server_to_deploy=

ip_remote_server=
port_remote_server=
port_ssh_server=

ip_host_local=
port_host_local=

connect_ssh_timeout=10
# the delay time before rechecking the connection
time_for_waiting=180
